/* Home.css */

.homepage {
  background-image: url('../images/nabin.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000; /* Set the text color */
  padding: 10px; /* Add padding as needed */
  padding-top: 40px;
  padding-bottom: 100;

  text-align: center;
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.homepage h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  animation: fadeInFromTop 2s ease-out; /* Adjust the animation duration and easing function as needed */
}

.homepage p {
  font-size: 1.2em; /* Adjust the font size */
  margin-bottom: 20px; /* Add margin as needed */
}

@media (max-width: 768px) {
  .services {
    grid-template-columns: 1fr; /* Display a single column on smaller screens */
  }
}

.services {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
  margin: 20px; /* Add margin as needed */
  font-weight: bold;
  color: #fff;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.service-box {
  background-color: #ff1d1d;
  padding: 20px;
  text-align: center;
  height: auto;
  border-radius: 10px;
  overflow: hidden; /* Ensure text overflow is hidden */
  position: relative;
  margin: 0;
  animation: slideIn 1.5s ease-out;
}
.service-box1 {
  background-color: #45a049;
  padding: 20px;
  text-align: center;
  height: auto;
  border-radius: 10px;
  overflow: hidden; /* Ensure text overflow is hidden */
  position: relative;
  margin: 0;
  animation: slideIn 1.5s ease-out;
}
.service-box2 {
  background-color: #9d15c7;
  padding: 20px;
  text-align: center;
  height: auto;
  border-radius: 10px;
  overflow: hidden; /* Ensure text overflow is hidden */
  position: relative;
  margin: 0;
  animation: slideIn 1s ease-out;
}

.service-box3 {
  background-color: #3e41f5;
  padding: 20px;
  text-align: center;
  height: auto;
  border-radius: 10px;
  overflow: hidden; /* Ensure text overflow is hidden */
  position: relative;
  margin: 0;
  animation: slideIn 1.5s ease-out;
}
@media (max-width: 768px) {
  .homepage h1{
    font-size: 1.5em;
  }
  .homepage p{
    font-size: .9em;
  }
  .services {
    grid-template-columns: repeat(2, 1fr); /* Display two columns on smaller screens */
  }

  .service-box,
  .service-box1,
  .service-box2,
  .service-box3 {
    width: auto; /* Ensure the service boxes take full width on smaller screens */
    margin-bottom: 20px; /* Add margin as needed */
    font-size: medium;
  }
}



.footer {
  text-align: center;
  background-color: #001885;
  height: 100px;
  color: #fff;
}

.bg-logo-img {
  width: 100%;
  height: auto;
}

.welcome{
  text-align: left;

}
.highlight1 {
  color: #ff6600; /* Highlight color */
  font-weight: bold;
}
